/* 各ページのデフォルトスタイルは非表示 */
.page {
    display: none;
}

/* 現在表示中のページのみ表示 */
.active {
    display: block;
}

/* ナビゲーションメニューのスタイル */
nav {
    margin-bottom: 20px;
}

nav button {
    margin-right: 10px;
}

.no{
    color: red;
}

.ok{
    color: aqua;
}

/*全体*/
body{
    font-family:'Times New Roman',"Yu Gothic", "游ゴシック", "游ゴシック体";
    background-color:#d0ffd1;
}

#playgame{
    font-family:'Times New Roman',"Yu Gothic", "游ゴシック", "游ゴシック体";
}
/*page1*/
#page1{
    text-align: center;
    font-size: 20px;
}

#themebox {
    width: 300px;      /* テキストボックスの幅 */
    height: 40px;      /* テキストボックスの高さ */
    font-size: 16px;   /* テキストボックスのフォントサイズ */
    margin-bottom: 20px; /* テキストボックスとボタンの間の余白 */
    font-family:'Times New Roman',"Yu Gothic", "游ゴシック", "游ゴシック体";
}

#abutton {
    width: 200px;      /* ボタンの幅 */
    height: 50px;      /* ボタンの高さ */
    font-size: 18px;   /* ボタンのフォントサイズ */
    padding: 10px 20px; /* ボタン内の余白 */
    background-color: #4CAF50; /* ボタンの背景色（例: 緑色） */
    color: white;      /* ボタンの文字色 */
    border:none ;
    border-radius: 5px; /* ボタンの角を丸く */
    cursor: pointer;   /* ボタンにホバーした際のポインター */
    font-family:'Times New Roman',"Yu Gothic", "游ゴシック", "游ゴシック体";
}

#ibutton {
    width: 200px;      /* ボタンの幅 */
    height: 50px;      /* ボタンの高さ */
    font-size: 18px;   /* ボタンのフォントサイズ */
    padding: 10px 20px; /* ボタン内の余白 */
    background-color: #4CAF50; /* ボタンの背景色（例: 緑色） */
    color: white;      /* ボタンの文字色 */
    border:none ;
    border-radius: 5px; /* ボタンの角を丸く */
    cursor: pointer;   /* ボタンにホバーした際のポインター */
    font-family:'Times New Roman',"Yu Gothic", "游ゴシック", "游ゴシック体";
}

#cent{
    text-align: center;
}

#title{
    text-align: center;
    margin-top:100px;
    font-size: 100px;
}

/*title.html*/
#top {
    /*margin-top: 200px;*/
    font-size: 100px;
    color: #454545;
    font-weight: bold;
    font-family:'Times New Roman',"Yu Gothic", "游ゴシック", "游ゴシック体";
}

#playgame {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    width: 200px;   /* 幅を指定 */
    height: 60px;   /* 高さを指定 */
    font-size: 24px;   /* テキストを大きくする */
    border-radius: 10px;  /* 角を10px丸くする */
    border: none;
    margin-bottom: 15px;  /* 下に15pxのスペースを設定 */
    font-family:'Times New Roman',"Yu Gothic", "游ゴシック", "游ゴシック体";
}

#replaygame {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    width: 200px;   /* 幅を指定 */
    height: 60px;   /* 高さを指定 */
    font-size: 24px;   /* テキストを大きくする */
    border-radius: 10px;  /* 角を10px丸くする */
    border: none;
    margin-bottom: 15px;  /* 下に15pxのスペースを設定 */
    font-family:'Times New Roman',"Yu Gothic", "游ゴシック", "游ゴシック体";
}

#rankingpage {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    width: 200px;   /* 幅を指定 */
    height: 60px;   /* 高さを指定 */
    font-size: 24px;   /* テキストを大きくする */
    border-radius: 10px;  /* 角を10px丸くする */
    border: none;
    font-family:'Times New Roman',"Yu Gothic", "游ゴシック", "游ゴシック体";
}

/*play2.html*/
#timer2 {
    font-size: 25px;
    border: 2px solid green;
    margin-left: 200px;
    width: 100px;
    height: 30px; /* 高さを設定して中央揃えを明確に */
    text-align: center;
    align-items: center;
    font-family:'Times New Roman',"Yu Gothic", "游ゴシック", "游ゴシック体";
}

#time{
    font-size: 25px;
    margin-left: 200px;
    font-family:'Times New Roman',"Yu Gothic", "游ゴシック", "游ゴシック体";
}

#playTitle{
    text-align: center;
    font-size: 50px;
    margin-top: 25px;
    font-family:'Times New Roman',"Yu Gothic", "游ゴシック", "游ゴシック体";
}

#tangoMode{
    text-align: center;
    font-size: 25px;
    margin-top: 0px;
    font-family:'Times New Roman',"Yu Gothic", "游ゴシック", "游ゴシック体";
}

#play2Cent{
    text-align: center;
    border: 3px solid green;
    width: 700px;
    height: 450px;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family:'Times New Roman',"Yu Gothic", "游ゴシック", "游ゴシック体";
}

#inputField{
    width: 300px;      /* テキストボックスの幅 */
    height: 40px;      /* テキストボックスの高さ */
    font-size: 30px;   /* テキストボックスのフォントサイズ */
    margin-bottom: 20px; /* テキストボックスとボタンの間の余白 */
    font-family:'Times New Roman',"Yu Gothic", "游ゴシック", "游ゴシック体";
    border: none;
    background-color: #d0ffd1;
}

/*play3.html*/
#timer3{
    font-size: 25px;
    border: 2px solid green;
    margin-left: 200px;
    width: 100px;
    height: 30px; /* 高さを設定して中央揃えを明確に */
    text-align: center;
    align-items: center;
    font-family:'Times New Roman',"Yu Gothic", "游ゴシック", "游ゴシック体";
}

#button{
    width: 200px;
    height: 35px;
    font-size: 30px;
    margin-left: 200px;
    margin-top: 35px;
    font-family: 'Times New Roman',"Yu Gothic", "游ゴシック", "游ゴシック体";
}

#timer4{
    font-size: 25px;
    margin-left: 200px;
    font-family:'Times New Roman',"Yu Gothic", "游ゴシック", "游ゴシック体";
}

#score4{
    font-size: 25px;
    margin-left: 200px;
    font-family:'Times New Roman',"Yu Gothic", "游ゴシック", "游ゴシック体";
}

#jsonfilelist {
    border: 1px solid #4CAF50;
    width: 100vw;             /* ビューポート全体の幅に設定 */
}

#replaymode {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    width: 200px;   /* 幅を指定 */
    height: 60px;   /* 高さを指定 */
    font-size: 24px;   /* テキストを大きくする */
    border-radius: 10px;  /* 角を10px丸くする */
    border: none;
}