{% extends "layout.html" %}

{% block content %}
<h1>Play</h1>

<!-- 3つ目のページ -->
<div id="page3">
    <h1>応用</h1>
    <div id="timer3">00:00</div>

    <!-- ここに質問を表示 -->
    <div id="number3"></div>
    <div id="explain3"></div>
    <input type="text" id="textbox3">
    <input type="button" value="skip" onClick="SkipButtonClick()">
</div>

<!-- Flaskから辞書データをJavaScriptに渡す -->
<script type="text/javascript">
    var data = {{ data | tojson | safe }};
</script>

<!-- 外部JavaScriptファイルを読み込む -->
<script type="module" src="static/play.js"></script>
<script type="module" src="static/play3.js"></script>
{% endblock %}
