<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play</title>
</head>
<body>
    <h1>Play</h1>
    <div id="timer">00:00</div>

    <!-- ここに質問を表示 -->
    <div id="id"></div>
    <div id="tango"></div>
    <div id="yomi"></div>
    <div id="explain"></div>
    <input type="text" id="textbox">

    <!-- Flaskから辞書データをJavaScriptに渡す -->
    <script type="text/javascript">
        var data = {{ data | tojson | safe }};
    </script>

    <!-- 外部JavaScriptファイルを読み込む -->
    <script type="module" src="{{ url_for('static', filename='play.js') }}"></script>
    <script src="{{ url_for('static', filename='clock.js') }}"></script>
</body>
</html>
