
{% extends "layout.html" %}

{% block content %}
<div id="cent">
    <div id="top">
        フォーカスタディ
    </div><br>
    <a href="{{ url_for('play1') }}">
        <button id="playgame">
            やってみる
        </button><br>
    </a>
    <a href="{{ url_for('replay1') }}">
        <button id="replaygame">
            復習する
        </button><br>
    </a>
    <a href="{{ url_for('ranking') }}">
        <button id="rankingpage">
            ランキング
        </button><br>
    </a>      
</div>
{% endblock %}
