#top{
    font-size: 50px;
    margin-top: 300px;
}

#cent{
    font-family: 'Times New Roman','MS Mincho';
    text-align: center;
}

#playgame{
    margin-top: 10px;
    font-size: 25px;
}

#replaygame{
    margin-top: 10px;
    font-size: 24px;
}

#rankingpage{
    margin-top: 10px;
    font-size: 25px;
}

#wordDisplay{
    margin-top: 300px;
    font-size: 30px;
}

#latinDisplay{
    font-size: 25px;
}

#missDisplay{
    font-size: 25px;
    color: red;
}

#inputField{
    font-size: 25px;
}

.ok{
    color: rgb(125, 125, 125);
}

.no{
    color: red;
}

.default{
    color: black;
}